name: Aleo Program Tests

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    paths-ignore:
      - "**/*.md"

concurrency:
  group: ci-tests-${{ github.ref }}-1
  cancel-in-progress: true

jobs:
  linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.3.0
      - uses: actions/setup-node@v4.4.0
        with:
          cache: "npm"
          node-version-file: ".nvmrc"
      - name: Install dependencies
        run: npm ci --prefer-offline --no-audit --no-fund --ignore-scripts && npm run postinstall
      - name: Run prettier
        run: npm run format

  test:
    runs-on: ubuntu-latest
    env:
      DEVNET_CHECK_TIMEOUT: 30000 # 30 seconds in ms
      DEVNET_CHECK_INTERVAL: 5000 # 5 seconds in ms
      TESTNET_ENDPOINT: "http://host.docker.internal:3030"
    permissions:
      contents: "read"
      packages: "read"
      actions: "read"
    timeout-minutes: 60
    container:
      image: ghcr.io/sealance-io/leo-lang-ci:v3.3.1-devnode
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.github_token }}
      options: --cpus 2 --add-host=host.docker.internal:host-gateway
      volumes:
        - /var/run/docker.sock:/var/run/docker.sock
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v4
      - name: Setup doko-js-cli
        uses: sealance-io/setup-doko-js-action@v0.1.4
        with:
          doko-repo: "sealance-io/doko-js"
          doko-branch: "fixes_to_dokojs"
          node-version: 24
          rust-version: "stable"
      - uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
          cache: "npm"
          cache-dependency-path: "./package-lock.json"

      - run: cp .env.example .env

      - name: Install dependencies
        run: npm ci --prefer-offline --no-audit --no-fund --ignore-scripts && npm run postinstall

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pull leo-devnode image
        run: docker pull hcr.io/sealance-io/leo-lang:v3.3.1-devnode

      - name: Compile leo
        run: npm run compile

      - name: Run test (bypass test-containers)
        run: npm run test
        env:
          DOCKER_HOST: "unix:///var/run/docker.sock"
          TESTCONTAINERS_RYUK_DISABLED: true
          USE_TEST_CONTAINERS: 1
          VITEST_HOOK_TIMING: true
          VITEST_TEST_MARKERS: true
