name: SDK Tests

on:
  pull_request:
    branches:
      - main
    paths:
      - "packages/policy-engine-sdk/**"
      - "!packages/policy-engine-sdk/**/*.md"
      - "!packages/policy-engine-sdk/examples/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {} # no permissions by default

jobs:
  format:
    name: Format Check
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          cache: "npm"
          node-version-file: ".nvmrc"

      - name: Install dependencies
        run: npm ci --no-audit --ignore-scripts

      - name: Validate lockfile
        run: npm run lint:lockfile

      - name: Run npm audit
        run: npm audit --audit-level=high

      - name: Run prettier
        run: npm run format --workspace=@sealance-io/policy-engine-aleo

  test:
    name: SDK Tests
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          cache: "npm"
          node-version-file: ".nvmrc"

      - name: Install dependencies
        run: npm ci --no-audit --ignore-scripts

      - name: Validate lockfile
        run: npm run lint:lockfile

      - name: Run npm audit
        run: npm audit --audit-level=high

      - name: Build SDK
        run: npm run build --workspace=@sealance-io/policy-engine-aleo

      - name: Run tests with coverage
        run: npm run test:coverage --workspace=@sealance-io/policy-engine-aleo
